<%- include('partials/header.ejs') %>

	<body>
		<%- include('partials/navbar.ejs') %>
			<div class="container">
				<div class="card p-3">
					<h1>Estoque</h1>
					<button class="col-md-2 btn btn-primary">Adicionar item</button>
					<hr>
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Nome</th>
								<th scope="col">Quantidade</th>
								<th scope="col">Unidade</th>
								<th scope="col">Remover</th>
								<th scope="col">Adicionar</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Macaco</td>
								<td>1</td>
								<td>Un.</td>
								<td><a class="btn btn-danger" href="#">-</a></td>
								<td><a class="btn btn-success" href="#">+</a></td>
							</tr>
							<tr>
								<td>Abacaxi</td>
								<td>1</td>
								<td>Un.</td>
								<td><a class="btn btn-danger" href="#">-</a></td>
								<td><a class="btn btn-success" href="#">+</a></td>
							</tr>
							<tr>
								<td>Arroz</td>
								<td>2</td>
								<td>Kg.</td>
								<td><a class="btn btn-danger" href="#">-</a></td>
								<td><a class="btn btn-success" href="#">+</a></td>
							</tr>
							<tr>
								<td>Feij達o</td>
								<td>2</td>
								<td>Kg.</td>
								<td><a class="btn btn-danger" href="#">-</a></td>
								<td><a class="btn btn-success" href="#">+</a></td>
							</tr>
							<tr>
								<td>Sucrilhos</td>
								<td>2</td>
								<td>Un.</td>
								<td><a class="btn btn-danger" href="#">-</a></td>
								<td><a class="btn btn-success" href="#">+</a></td>
							</tr>
							<tr>
								<td>Beterraba</td>
								<td>4</td>
								<td>Un.</td>
								<td><a class="btn btn-danger" href="#">-</a></td>
								<td><a class="btn btn-success" href="#">+</a></td>
							</tr>
							<tr>
								<td>Atum</td>
								<td>1</td>
								<td>Kg.</td>
								<td><a class="btn btn-danger" href="#">-</a></td>
								<td><a class="btn btn-success" href="#">+</a></td>
							</tr>
							<tr>
								<td>Gr達o de Bico</td>
								<td>2</td>
								<td>Kg.</td>
								<td><a class="btn btn-danger" href="#">-</a></td>
								<td><a class="btn btn-success" href="#">+</a></td>
							</tr>
							<tr>
								<td>Abacaxi</td>
								<td>1</td>
								<td>Un.</td>
								<td><a class="btn btn-danger" href="#">-</a></td>
								<td><a class="btn btn-success" href="#">+</a></td>
							</tr>
							<tr>
								<td>Arroz</td>
								<td>2</td>
								<td>Kg.</td>
								<td><a class="btn btn-danger" href="#">-</a></td>
								<td><a class="btn btn-success" href="#">+</a></td>
							</tr>
							<tr>
								<td>Feij達o</td>
								<td>2</td>
								<td>Kg.</td>
								<td><a class="btn btn-danger" href="#">-</a></td>
								<td><a class="btn btn-success" href="#">+</a></td>
							</tr>
							<tr>
								<td>Sucrilhos</td>
								<td>2</td>
								<td>Un.</td>
								<td><a class="btn btn-danger" href="#">-</a></td>
								<td><a class="btn btn-success" href="#">+</a></td>
							</tr>
							<tr>
								<td>Beterraba</td>
								<td>4</td>
								<td>Un.</td>
								<td><a class="btn btn-danger" href="#">-</a></td>
								<td><a class="btn btn-success" href="#">+</a></td>
							</tr>
							<tr>
								<td>Atum</td>
								<td>1</td>
								<td>Kg.</td>
								<td><a class="btn btn-danger" href="#">-</a></td>
								<td><a class="btn btn-success" href="#">+</a></td>
							</tr>
							<tr>
								<td>Gr達o de Bico</td>
								<td>2</td>
								<td>Kg.</td>
								<td><a class="btn btn-danger" href="#">-</a></td>
								<td><a class="btn btn-success" href="#">+</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
	</body>
	<%- include('partials/footer.ejs') %>