<%- include('partials/header.ejs') %>

	<body>
		<%- include('partials/navbar.ejs') %>
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" src="https://via.placeholder.com/1280x300.png?text=Receipe+Me"
							alt="First slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="https://via.placeholder.com/1280x300.png?text=Receipe+Me"
							alt="Second slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100"
							src="https://via.placeholder.com/1280x300.png?text=Tua+Mae+aquela+gostosa"
							alt="Third slide">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<div class="container p-3">
				<h1 class="text-center">Seu Painel de Receitas e gerenciamento de Alimentos <span>&#128077</span></h1>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae augue nec tellus venenatis
					placerat. Curabitur nec neque dictum, mattis nisl nec, volutpat est. Proin ultrices urna accumsan
					magna rhoncus scelerisque. Suspendisse gravida ante efficitur interdum blandit. Morbi facilisis
					metus sit amet sapien aliquam consequat sed eget massa. Aenean sollicitudin ante a ante tristique,
					sed volutpat dui dapibus. Phasellus neque neque, sollicitudin sit amet lectus accumsan, luctus
					dapibus tortor. Duis sed ipsum tempor, feugiat nisi non, sollicitudin enim. Sed eu tincidunt nisi,
					non malesuada ligula. Nam vitae arcu turpis. Curabitur vitae justo leo. Ut fringilla sagittis ipsum,
					ut maximus neque. Cras commodo sed tortor non dignissim. In tempor facilisis mattis. Proin finibus
					quam vitae sapien posuere semper.</p>

				<p>Donec non tellus pretium, convallis velit in, finibus quam. In vel pharetra velit. Nunc ultricies
					hendrerit eros, et consequat sapien lobortis quis. Duis sodales magna ut scelerisque ultricies.
					Aliquam imperdiet molestie sem. Sed fermentum eleifend purus pellentesque cursus. Donec in nisi at
					metus porta consequat. Curabitur a tortor congue, viverra felis in, placerat neque. In venenatis
					nisl ex, fringilla imperdiet nunc rhoncus vitae. Aenean aliquam ante vitae lectus varius bibendum.
					Etiam at auctor libero. Vestibulum quis maximus dolor. Aenean convallis a erat vehicula egestas.
					Nullam ex eros, placerat eu purus eleifend, scelerisque hendrerit metus. Nullam vulputate posuere
					felis ac pellentesque. Phasellus faucibus ligula quis odio varius, ut imperdiet risus faucibus.</p>

				<p>Quisque blandit nunc vitae leo feugiat, in ultricies felis facilisis. Vivamus sit amet dapibus
					libero. Aliquam finibus fermentum ligula, quis blandit libero mollis pretium. Etiam vel fermentum
					est, id fermentum velit. Cras molestie vitae justo et mattis. Praesent nisl dolor, fermentum vel
					aliquam ut, cursus at nibh. Morbi vestibulum, augue ac feugiat blandit, leo tortor malesuada metus,
					eu facilisis ipsum lectus a mi. Nullam bibendum, libero sit amet sagittis sollicitudin, lacus ante
					interdum purus, in bibendum libero augue non leo. Aliquam erat volutpat. Nullam dapibus elementum
					efficitur. Suspendisse sed mauris elit. Nulla at leo pellentesque, imperdiet felis at, mollis dui.
					Phasellus mattis feugiat lacus euismod dignissim. Vivamus vel vulputate purus, sed vulputate massa.
					Maecenas euismod, massa non pellentesque accumsan, sapien tellus imperdiet purus, vel ornare mauris
					lectus non tortor.</p>
			</div>
	</body>
	<%- include('partials/footer.ejs') %>