<%- include('partials/header.ejs') %>

	<body>
		<%- include('partials/navbar.ejs') %>
			<div class="container">
				<div class="card p-3">
					<h1>Receitas</h1>
					<hr>
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Nome</th>
								<th scope="col">Tipo</th>
								<th scope="col">Tempo de Preparo</th>
								<th scope="col">Ingredientes</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>Pavê do Tio</td>
								<td>Sobremesas</td>
								<td>1 Hora</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="#">Ver</a></td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>Miojo</td>
								<td>Massas</td>
								<td>8 Hora</td>
								<td>&#128078;</td>
								<td><a class="btn btn-primary" href="#">Ver</a></td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td>Espetinho de gato</td>
								<td>Carnes</td>
								<td>30 Minutos</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="#">Ver</a></td>
							</tr>
							<tr>
								<th scope="row">4</th>
								<td>Sopa de Macaco</td>
								<td>Sopas</td>
								<td>45 Minutos</td>
								<td>&#128078;</td>
								<td><a class="btn btn-primary" href="/mamaco">Ver</a></td>
							</tr>
							<tr>
								<th scope="row">1</th>
								<td>Pavê do Tio</td>
								<td>Sobremesas</td>
								<td>1 Hora</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="#">Ver</a></td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>Miojo</td>
								<td>Massas</td>
								<td>8 Hora</td>
								<td>&#128078;</td>
								<td><a class="btn btn-primary" href="#">Ver</a></td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td>Espetinho de gato</td>
								<td>Carnes</td>
								<td>30 Minutos</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="#">Ver</a></td>
							</tr>
							<tr>
								<th scope="row">4</th>
								<td>Sopa de Macaco</td>
								<td>Sopas</td>
								<td>45 Minutos</td>
								<td>&#128078;</td>
								<td><a class="btn btn-primary" href="/mamaco">Ver</a></td>
							</tr>
							<tr>
								<th scope="row">1</th>
								<td>Pavê do Tio</td>
								<td>Sobremesas</td>
								<td>1 Hora</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="#">Ver</a></td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>Miojo</td>
								<td>Massas</td>
								<td>8 Hora</td>
								<td>&#128078;</td>
								<td><a class="btn btn-primary" href="#">Ver</a></td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td>Espetinho de gato</td>
								<td>Carnes</td>
								<td>30 Minutos</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="#">Ver</a></td>
							</tr>
							<tr>
								<th scope="row">4</th>
								<td>Sopa de Macaco</td>
								<td>Sopas</td>
								<td>45 Minutos</td>
								<td>&#128078;</td>
								<td><a class="btn btn-primary" href="/mamaco">Ver</a></td>
							</tr>
							<tr>
								<th scope="row">1</th>
								<td>Pavê do Tio</td>
								<td>Sobremesas</td>
								<td>1 Hora</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="#">Ver</a></td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>Miojo</td>
								<td>Massas</td>
								<td>8 Hora</td>
								<td>&#128078;</td>
								<td><a class="btn btn-primary" href="#">Ver</a></td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td>Espetinho de gato</td>
								<td>Carnes</td>
								<td>30 Minutos</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="#">Ver</a></td>
							</tr>
							<tr>
								<th scope="row">4</th>
								<td>Sopa de Macaco</td>
								<td>Sopas</td>
								<td>45 Minutos</td>
								<td>&#128078;</td>
								<td><a class="btn btn-primary" href="/mamaco">Ver</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
	</body>
	<%- include('partials/footer.ejs') %>