<%- include('partials/header.ejs') %>

	<body>
		<%- include('partials/navbar.ejs') %>
			<div class="container">
				<div class="card p-3">
					<h1>Receitas</h1>
					<button class="col-md-2 btn btn-primary">Nova receita</button>
					<hr>
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Nome</th>
								<th scope="col">Tipo</th>
								<th scope="col">Tempo de Preparo</th>
								<th scope="col">Ingredientes</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Pavê</td>
								<td>Sobremesas</td>
								<td>1 Hora</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="/receita">Ver</a></td>
							</tr>
							<tr>
								<td>Miojo</td>
								<td>Massas</td>
								<td>8 Horas</td>
								<td>&#128078;</td>
								<td><a class="btn btn-primary" href="/receita">Ver</a></td>
							</tr>
							<tr>
								<td>Costela</td>
								<td>Carnes</td>
								<td>5 Horas</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="/receita">Ver</a></td>
							</tr>
							<tr>
								<td>Arroz</td>
								<td>Grãos</td>
								<td>15 Minutos</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="/receita">Ver</a></td>
							</tr>
							<tr>
								<td>Feijão</td>
								<td>Grãos</td>
								<td>1 Hora</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="/receita">Ver</a></td>
							</tr>
							<tr>
								<td>Batata</td>
								<td>Tuberculos</td>
								<td>1 Hora</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="/receita">Ver</a></td>
							</tr>
							<tr>
								<td>Macarrão</td>
								<td>Grãos</td>
								<td>1 Hora</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="/receita">Ver</a></td>
							</tr>
							<tr>
								<td>Farofa</td>
								<td>Brasileiras</td>
								<td>10 Minutos</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="/receita">Ver</a></td>
							</tr>
							<tr>
								<td>Panceta</td>
								<td>Carne</td>
								<td>2 Hora</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="/receita">Ver</a></td>
							</tr>
							<tr>
								<td>Pavê</td>
								<td>Sobremesas</td>
								<td>1 Hora</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="/receita">Ver</a></td>
							</tr>
							<tr>
								<td>Miojo</td>
								<td>Massas</td>
								<td>8 Horas</td>
								<td>&#128078;</td>
								<td><a class="btn btn-primary" href="/receita">Ver</a></td>
							</tr>
							<tr>
								<td>Costela</td>
								<td>Carnes</td>
								<td>5 Horas</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="/receita">Ver</a></td>
							</tr>
							<tr>
								<td>Arroz</td>
								<td>Grãos</td>
								<td>15 Minutos</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="/receita">Ver</a></td>
							</tr>
							<tr>
								<td>Feijão</td>
								<td>Grãos</td>
								<td>1 Hora</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="/receita">Ver</a></td>
							</tr>
							<tr>
								<td>Batata</td>
								<td>Tuberculos</td>
								<td>1 Hora</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="/receita">Ver</a></td>
							</tr>
							<tr>
								<td>Macarrão</td>
								<td>Grãos</td>
								<td>1 Hora</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="/receita">Ver</a></td>
							</tr>
							<tr>
								<td>Farofa</td>
								<td>Brasileiras</td>
								<td>10 Minutos</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="/receita">Ver</a></td>
							</tr>
							<tr>
								<td>Panceta</td>
								<td>Carne</td>
								<td>2 Hora</td>
								<td>&#128077;</td>
								<td><a class="btn btn-primary" href="/receita">Ver</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
	</body>
	<%- include('partials/footer.ejs') %>