<%- include('partials/header.ejs') %>

	<body>
		<%- include('partials/navbar.ejs') %>
			<div class="container">
				<div class="card p-3" id="ask-form">
					<h1>Sopa de Mamaco</h1>
					<hr>
					<img style="width: 30%;"
						src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/318b2c5d-5434-4f18-b009-553b32d6abc5/de0ge4i-9b2eb2c4-ee13-48c7-a715-c43801565f30.jpg/v1/fill/w_686,h_706,q_75,strp/cirilo_comendo_sopa_de_macaco_by_saraheilish_de0ge4i-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzA2IiwicGF0aCI6IlwvZlwvMzE4YjJjNWQtNTQzNC00ZjE4LWIwMDktNTUzYjMyZDZhYmM1XC9kZTBnZTRpLTliMmViMmM0LWVlMTMtNDhjNy1hNzE1LWM0MzgwMTU2NWYzMC5qcGciLCJ3aWR0aCI6Ijw9Njg2In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.Y5CI5AAmPlZD4K1wVsgXkSe49iBJgOCDA8RBB7JfJHE"
						class="rounded mx-auto d-block" alt="cirilo fodase">
					<hr>
					<h3 >Ingredientes:</h3>
					<ul>
						<li>Um macaco</a></li>
					</ul>
					<ul>
						<li>Uma panela de pressão(Ou uma panela de Barro)</li>
					</ul>
					<ul>
						<li>Um abacaxi sem casca</li>
					</ul>
					<ul>
						<li>Cocaína ou coca cola (dá no mesmo)</li>
					</ul>
					<ul>
						<li>1/2 xícara de insanidade</li>
					</ul>

					<h3>Modo de preparo</h3>
					
					<p>Despeje a insanidade na panela. Coloque os múltiplos macacos na panela, coloque o pó,
						misture e coloque umas por cima. Coloque o abacaxi também. Pronto, se quiser
						temperar com veneno de cobra fique a vontade. Se for pobre e quiser usar pó de concreto ao invés da droga, não tem problema, essa é
						uma receita acessível pra todos</p>
					
				</div>
			</div>
	</body>
	<%- include('partials/footer.ejs') %>