<%- include('partials/header.ejs') %>
	<body>
		<%- include('partials/navbar.ejs') %>
			<div class="container">
				<div class="card p-3" id="ask-form">
					<h1>Miojo</h1>
					<hr>
					<img style="width: 30%;"
						src="https://i0.wp.com/3talheres.com.br/wp-content/uploads/2018/08/miojo.jpg?fit=850%2C600&ssl=1"
						class="rounded mx-auto d-block" alt="Miojo dentro de uma cumbuca">
					<hr>
					<h3 >Ingredientes:</h3>
					<ul>
						<li>1 pacote de macarrão instantâneo (miojo)</li>
						<li>1/2 cubo de caldo de galinha</li>
						<li>1 dente de alho picado</li>
						<li>1 colher (sopa) de óleo</li>
						<li>Cheiro verde picado</li>
					</ul>
					<h3>Modo de preparo:</h3>
					<ol>
						<li>Aqueça o óleo em uma panela.</li>
						<li>Acrescente o alho picado e deixe dourar.</li>
						<li>Em seguida, coloque a mesma quantidade de água indicada na embalagem para fazer o miojo.</li>
						<li>Deixe ferver.</li>
						<li>Acrescente o macarrão e em seguida o caldo de galinha.</li>
						<li>Mexa por 1 minuto e deixe cozinhar no tempo indicado (geralmente 3 minutos).</li>
						<li>Adicione cheiro verde a gosto e sirva!.</li>
					</ol>
					<hr>
					<h3>Comentários:</h3>
					<h6>Alfons (2/5 &#9733;) diz:</h6>
					<p>Não consegui fazer</p>
					<h6>Guilherme (3/5 &#9733;) diz:</h6>
					<p>Posso colocar cimento para dar mais liga?</p>
					<h6>Rafael (1/5 &#9733;) diz:</h6>
					<p>Fiz para minha namorada e ela terminou comigo</p>
				</div>
			</div>
	</body>
	<%- include('partials/footer.ejs') %>